/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.search-container {
    display: block;
    padding-left: 37%;
}

.image-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  flex-wrap: wrap;
  flex-basis: 0;
  align-items: flex-start;
}

.error-container {
    color: red;
    text-align: center;
    justify-content: center;
}
